{% extends 'teacher/teacher_base.html' %}
{% block content %}







<div class="w-100" style="background-image: url(https://img.freepik.com/free-photo/education-college-read-information-table_1150-1615.jpg);background-size: cover;background-repeat: no-repeat;width: 100%;height: 650px;">
    <div class="w-100" style="height: 650px;">
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2"></div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="container-fluid mt-5" style="background-color: rgba(18, 18, 19, 0.836);border-radius: 25px;height: 400px;margin-left: 13%;">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <img src="https://img.freepik.com/premium-photo/teenager-student-girl-yellow-pointing-finger-side_1368-40175.jpg" alt="" style="margin-left: -4%;height: 400px;width: 107%;margin-top: 0%;">
    
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-8" style="background-color: white; height: 400px;margin-left: -4px;">
                            <form method="post" action="{% url 'stud_leave' %}" enctype="multipart/form-data" class="was_validated ms-5 me-5">
                                <h1 class="header" style="text-align: center;color: rgb(7, 7, 7);">APPLY LEAVE</h1>
                
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    <input type="text" class="form-control mt-3"  placeholder="Enter subject" name="subject" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group">
                                    <textarea type="text" rows="5" cols="8" class="form-control mt-2"  placeholder="type here..." name="message" required></textarea>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group">
                                    <label for="" style="color: white;">Leave Date:</label>
                
                                    <input type="date" class="form-control mt-2"  placeholder="leave date" name="leave_date" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary form-control mt-4 mb-3" style="width: 100%;height: 35px;color: white;">APPLY LEAVE</button>
                
                                
                        
                        
                        
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>


{% endblock%}