{% extends 'teacher/teacher_base1.html' %}
{% block content %}


<style>
    thead{
        background-color: rgb(13, 14, 14);
        /* width: 80%; */
    }
    tr:nth-child(even) {
        
        background-color: #c5c3c3;
        color: rgb(12, 12, 12);
    }
    tr:nth-child(odd) {
        
        background-color: #29282883;
        color: rgb(245, 243, 243);
    }
    
</style>






<div class="w-100" style="background-image: url(https://img.freepik.com/free-photo/education-college-read-information-table_1150-1615.jpg);background-repeat: no-repeat;background-size: cover;height: 650px;">
    <div class="w-100" style="height: 650px;">
        <div class="container" >
            <h1 class="alert alert-dark text-center w-75" style="margin-left: 20%;">
                *TASK LIST* 

            </h1>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <form>
                        <table class="table text-center ms-5" style="color: white;">
                            <thead>
                                <tr>
                                    <th scope="col">STUDENT</th>

                                    <th scope="col">DESCRIPTION</th>
                                    <th scope="col">DOCUMENT</th>
                                    
                                    
                                    <th scope="col">ACTION</th> 
                           
                          
                                   
        
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in data1 %}
                                 
                                 <tr>
                                    <td class="pt-4">{{ p.student.student.first_name }}</td>

                                    <td class="pt-4">{{ p.description }}</td>
                                    <td class="pt-4">{{ p.document.url }}</td>
                                    <td>
                                        <a role="button" href="{% url 'download_topic' p.id %}" class="btn btn-outline-success btn-sm">DOWNLOAD</a>
                                    </td>
                                    
                                    
                                 </tr>
                                 {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        
    </div>
</div>


{% endblock%}