<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</head>
<style>
  body {
background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
main {
padding-left: 240px;
}
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
}

@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
</style>
<body>

    


 <!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4 ">
        
        <a href="{% url 'admin_home' %}" class="list-group-item list-group-item-action py-2 ripple" style="color: white;background-color: rgba(39, 39, 39, 0.849);border: none;" ><i
          class="fas fa-chart-line fa-fw me-3"></i><span>Home</span></a>

          <a class="nav-link list-group-item list-group-item-action py-2 ripple" href="" data-bs-toggle="modal" data-bs-target="#course" style="color: white;background-color: rgba(39, 39, 39, 0.849);border: none;">
            <i class="fas fa-chart-line fa-fw me-3"></i><span>Course</span>
          </a>

          <a class="nav-link list-group-item list-group-item-action py-2 ripple" href="" data-bs-toggle="modal" data-bs-target="#batch" style="color: white;background-color: rgba(39, 39, 39, 0.849);border: none;">
            <i class="fas fa-chart-line fa-fw me-3"></i><span>Batch</span>
          </a>


        <a href="{% url 'time_table_page' %}" class="list-group-item list-group-item-action py-2 ripple" style="color: white;background-color: rgba(39, 39, 39, 0.849);border: none;"><i
            class="fas fa-lock fa-fw me-3"></i><span>TimeTable</span></a>
        
        <a href="{% url 'send_mail_page' %}" class="list-group-item list-group-item-action py-2 ripple" style="color: white;background-color: rgba(39, 39, 39, 0.849);border: none;">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Mail</span>
        </a>
        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action py-2 ripple" style="color: white;background-color: rgba(39, 39, 39, 0.849);border: none;"><i
          class="fas fa-chart-bar fa-fw me-3"></i><span>Logout</span></a>

        <li class="nav-item dropdown">
         
          <a  data-bs-toggle="dropdown" role="button"  aria-expanded="false" href="#" class="list-group-item list-group-item-action py-2 ripple nav-link dropdown-toggle" style="color: white;background-color: rgba(39, 39, 39, 0.849);border: none;">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Leave</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'teacher_leave_page' %}"> Teacher</a></li>
            <li><a class="dropdown-item" href="{% url 'leave_list_page' %}">Student</a></li>
            
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a  class="list-group-item list-group-item-action py-2 ripple nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"  aria-expanded="false" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;background-color: rgba(39, 39, 39, 0.849);border: none;" >
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>View</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'teacher_list' %}">Teachers</a></li>
            <li><a class="dropdown-item" href="{% url 'stud_batch_list' %}">Students</a></li>
            <li><a class="dropdown-item" href="{% url 'view_feedback_page' %}">Feedback</a></li>

            
          </ul>
        </li>

        

       
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/logo-mockup-design-template-68a67f9b1ed8a65b9f6c832e87e52c30_screen.jpg?ts=1644310571" height="55" width="100" alt="MDB Logo"
          loading="lazy" />
      </a>
      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input autocomplete="off" type="search" class="form-control rounded"
          placeholder='Search ' style="min-width: 225px;" />
        <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
      </form>

    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>
<!--Main layout-->





      {% include 'administration/course.html' %}
      {% include 'administration/batch.html' %}
      {% block content %}
      



      {% endblock %}



     
    
</body>
</html>