{% extends 'administration/admin_base.html' %}
{% block content %}



<style>
    thead{
        background-color: rgb(13, 14, 14);
        /* width: 80%; */
    }
    tr:nth-child(even) {
        
        background-color: #c5c3c3;
        color: rgb(12, 12, 12);
    }
    tr:nth-child(odd) {
        
        background-color: #29282883;
        color: rgb(245, 243, 243);
    }
    
</style>



<div class="w-100" style="background-image: url(https://img.freepik.com/free-photo/education-college-read-information-table_1150-1615.jpg);background-repeat: no-repeat;background-size: cover;height: 650px;">
    <div class="w-100" style="height: 650px;">
        <div class="container" >
            <h1 class="alert alert-dark text-center w-75" style="margin-left: 20%;">
                *TEACHER DETAILS*
                <!-- <a role="button" class="btn btn-outline-dark" href="">Add</a> -->
            </h1>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <form>
                        <table class="table text-center " style="color: white;margin-left: 10%;">
                            <thead>
                                <tr>
                                    <th scope="col">FIRST NAME</th>
                                    <th scope="col">LAST NAME</th>
                                    <th scope="col">ADDRESS</th>
                                    <!-- <th scope="col">AGE</th> -->
                                    <th scope="col">EMAIL</th>
                                    <th scope="col">COURSE</th> 
                                    <th scope="col">IMAGE</th>
                                    <!-- <th scope="col">ACTION</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in teacher %}
                                 <tr>
                                    <td class="pt-4">{{ p.user.first_name }}</td>
                                    <td class="pt-4">{{ p.user.last_name }}</td>
                                    <td class="pt-4">{{ p.address }}</td>
                                    <!-- <td class="pt-4">{{ p.age }}</td> -->
                                    <td class="pt-4">{{ p.user.email }}</td>
                                    <td class="pt-4">{{ p.course.course_name }}</td>
                                    <td>
                                     
                                       
                                            <img src="{{ p.image.url }}" class="w-50"style="width: 25%;height: 100px;">
                                        
                                    </td>
                                    <!-- <td>
                                        <a role="button" class="btn btn-outline-dark btn-sm" href="">EDIT</a>
                                    
                                    </td> -->
                                 </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="col-sm-1">
                    
                </div>
            </div>
            
        </div>
        
    </div>
</div>

{% endblock %}