{% extends 'base1.html' %}
{% block content %}


<div class="w-100" style="background-image: url(https://img.freepik.com/free-photo/education-college-read-information-table_1150-1615.jpg);background-size: cover;background-repeat: no-repeat;width: 100%;height: 700px;">
     
    <div class="w-100" >
     <div>
         <div class="row">
             <div class="col-sm-12 col-md-2 col-lg-2"></div>
             <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row mt-5" style="background-color: rgb(15, 15, 15);">
             <div class="col-sm-12 col-md-4 col-lg-4">
                 <img src="https://img.freepik.com/premium-photo/teenager-student-girl-yellow-pointing-finger-side_1368-40175.jpg" alt="" style="margin-left: -3%;height: 650px;width: 107%;margin-top: 0%;">
             </div>
             <div class="col-sm-12 col-md-8 col-lg-8" style="background-color: rgb(247, 244, 244);">
                 <div class="" style="border-radius: 25px;">
                    <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data" class="was_validated ms-5 me-5">
                        <h1 class="header mt-3" style="text-align: center;color: rgb(17, 17, 17);">SIGN UP</h1>
        
                        {% csrf_token %}
                        
                        <div class="form-group mt-3">
                            <input type="text" class="form-control mt-2"  placeholder="Enter first name" name="first_name" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mt-3"  placeholder="Enter last name" name="last_name" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mt-3"  placeholder="Enter address" name="address" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control mt-3"  placeholder="Enter email id" name="email" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-3"  placeholder="Enter phone number" name="phone" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <select name="select" class="form-control mt-3" id="">
                                {% for i in courses %}
                                   <option value="{{ i.id }}">{{ i.course_name }}</option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        
                        <div class="form-group">
                            <input id="password" type="password" class="form-control mt-3"  placeholder="generate password" name="password" required readonly; >
                            <button id="btn1" onclick="genpwd()" class="btn btn-primary mt-2">Generate</button>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <input id="password1" type="password" class="form-control mt-3"  placeholder="confirm password" name="cpassword" required readonly; >
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control mt-3"  name="file" accept="image/*" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        
                        <button type="submit mb-4" class="btn form-control mt-4" style="width: 100%;height: 35px;color: white;background-color: rgb(17, 17, 163);">SIGN UP</button>
        
                        <script type="text/javascript">
                            var password=document.getElementById("password");
                            function genpwd(){
                                var chars="0123456789abcdefghijklmnopqrstuvwxyz@#$%&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                                var pwd_length=8;
                                var password="";
                                for(var i=0 ; i < pwd_length ; i++){
                                    var random_no=Math.floor(Math.random() * chars.length);
                                    password+=chars.substring(random_no, random_no + 1);
                                }
                                document.getElementById("password").value=password
                                document.getElementById("password1").value=password
                            }
                
                        </script>
                
                
                
                    </form>
                     
                 
                 </div>
             </div>
            </div>
             </div>
             <div class="col-sm-12 col-md-2 col-lg-2"></div>
               
         </div>
     </div>
 
    </div>
     
 </div>


{% endblock %}
  
  